<table id="calcu">
    <tr>
        <td colspan="3"><h1>{{display}}</h1></td>
        <!-- clr() function will call clr to clear all value -->
        <td><input type="button" value="c" (click)="clr()" /> </td>
    </tr>
    <tr>
        <!-- create button and assign value to each button -->
        <!-- buttonClicked("1") will call function dis to display value -->
        <td><input type="button" value="1" (click)="buttonClicked(1)" 
                    onkeydown="myFunction(event)"> </td>
        <td><input type="button" value="2" (click)="buttonClicked(2)" 
                    onkeydown="myFunction(event)"> </td>
        <td><input type="button" value="3" (click)="buttonClicked(3)" 
                    onkeydown="myFunction(event)"> </td>
        <td><input type="button" value="/" (click)="buttonClicked('/')" 
                    onkeydown="myFunction(event)"> </td>
    </tr>
    <tr>
        <td><input type="button" value="4" (click)="buttonClicked(4)" 
                    onkeydown="myFunction(event)"> </td>
        <td><input type="button" value="5" (click)="buttonClicked(5)" 
                    onkeydown="myFunction(event)"> </td>
        <td><input type="button" value="6" (click)="buttonClicked(6)" 
                    onkeydown="myFunction(event)"> </td>
        <td><input type="button" value="*" (click)="buttonClicked('*')" 
                    onkeydown="myFunction(event)"> </td>
    </tr>
    <tr>
        <td><input type="button" value="7" (click)="buttonClicked(7)" 
                    onkeydown="myFunction(event)"> </td>
        <td><input type="button" value="8" (click)="buttonClicked(8)" 
                    onkeydown="myFunction(event)"> </td>
        <td><input type="button" value="9" (click)="buttonClicked(9)" 
                    onkeydown="myFunction(event)"> </td>
        <td><input type="button" value="-" (click)="buttonClicked('-')"
                    onkeydown="myFunction(event)"> </td>
    </tr>
    <tr>
        <td><input type="button" value="0" (click)="buttonClicked(0)" 
                    onkeydown="myFunction(event)"> </td>
        <td><input type="button" value="." (click)="buttonClicked('.')" 
                    onkeydown="myFunction(event)"> </td>
        <!-- solve function call function solve to evaluate value -->
        <td><input type="button" value="=" (click)="buttonClicked('=')"> </td>

        <td><input type="button" value="+" (click)="buttonClicked('+')" 
                    onkeydown="myFunction(event)"> </td>
    </tr>
</table>