<h1>Angular Router App</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a routerLink="/calculator" routerLinkActive="active">Calculator</a></li>
    <li><a routerLink="/heroes" routerLinkActive="active">Heroes</a></li>
    <li><a routerLink="/apod" routerLinkActive="active">Apod</a></li>
    <li><a routerLink="/beers" routerLinkActive="active">Beers</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
