<tr>
    <!-- create button and assign value to each button -->
    <!-- clicked("1") will call function dis to display value -->
    <td><input type="button" value="1" (click)="clicked(1)" 
                onkeydown="myFunction(event)"> </td>
    <td><input type="button" value="2" (click)="clicked(2)" 
                onkeydown="myFunction(event)"> </td>
    <td><input type="button" value="3" (click)="clicked(3)" 
                onkeydown="myFunction(event)"> </td>
    <td><input type="button" value="/" (click)="clicked('/')" 
                onkeydown="myFunction(event)"> </td>
</tr>
<tr>
    <td><input type="button" value="4" (click)="clicked(4)" 
                onkeydown="myFunction(event)"> </td>
    <td><input type="button" value="5" (click)="clicked(5)" 
                onkeydown="myFunction(event)"> </td>
    <td><input type="button" value="6" (click)="clicked(6)" 
                onkeydown="myFunction(event)"> </td>
    <td><input type="button" value="*" (click)="clicked('*')" 
                onkeydown="myFunction(event)"> </td>
</tr>
<tr>
    <td><input type="button" value="7" (click)="clicked(7)" 
                onkeydown="myFunction(event)"> </td>
    <td><input type="button" value="8" (click)="clicked(8)" 
                onkeydown="myFunction(event)"> </td>
    <td><input type="button" value="9" (click)="clicked(9)" 
                onkeydown="myFunction(event)"> </td>
    <td><input type="button" value="-" (click)="clicked('-')"
                onkeydown="myFunction(event)"> </td>
</tr>
<tr>
    <td><input type="button" value="0" (click)="clicked(0)" 
                onkeydown="myFunction(event)"> </td>
    <td><input type="button" value="." (click)="clicked('.')" 
                onkeydown="myFunction(event)"> </td>
    <!-- solve function call function solve to evaluate value -->
    <td><input type="button" value="=" (click)="clicked('=')"> </td>

    <td><input type="button" value="+" (click)="clicked('+')" 
                onkeydown="myFunction(event)"> </td>
</tr>
